.venv/
.env/

# Python bytecode / caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/

# Jupyter
.ipynb_checkpoints/

# Packaging / build outputs
build/
dist/
*.egg-info/
.eggs/
.vscode
.build
src_tensor/pps_tensor_backend.cpp
src_tensor/_pps_tensor_backend_candidate.so
src_tensor/_pps_tensor_backend_local.so.bak
##### files to be ignored for specific projects #####
cudaq_sampling/
test_qaoa/artifacts/
test_qaoa/results/
test_qaoa/graph/
test_qaoa/config/
test_qaoa/config_quantinuum.yaml

QAOA/

batch.ipynb
embedding.ipynb
QGAN_adaptability.ipynb
benchmark_chunking.ipynb
benchmark_cpu_vs_gpu_storage.ipynb

batch_implementation_from_embedding.md
embedding_implementation_from_scratch.md

max_weight_truncation_analysis/


generating_configfiles.py
generating_shfiles.py


# 캐시 삭제하고 싶으면 git rm -r --cached <file> 명령어 사용